/* GLOBAL STYLES */
body {
  font-size: 16px;
  color: black;
  background-color: #e0e0e0;
  font-family: 'Oxygen', sans-serif;
}

/* global forms */
.form {
  background-color: white;
  padding: 30px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 70%;
}
.form h3 {
  padding-bottom: 15px;
  padding-top: 15px;
  text-align: center;
  color: #5ebf9c;
}
.form h5 {
  padding-bottom: 15px;
  padding-top: 15px;
  color: #5ebf9c;
}
.form-row.required label:after, .form-group.required label:after {
  content: "*";
  color: red;
}
form button.btn { /* All forms have these styles on buttons */
  border: none;
  background-color: #5ebf9c;
}
form button.btn:hover { /* All forms have these styles on buttons */
  background-color: #15ade2;
}
.formsLogo {
  padding-bottom: 15px;
  height: auto;
  width: 50%;
}
/*Google reCAPTCHA*/
.g-recaptcha {
  padding-bottom: 30px;
}
/*Highlight text*/
#textHighlight  mark {
  background-color: #FFFF00;
}
/* end global forms */

/* END GLOBAL STYLES */

/** HEADER **/
#header-nav {
  border-radius: 0;
  border: 0;
}
.navbar-brand {
  padding-top: 10px;
}
.navbar-brand a img {
  width: 200px;
  heigt: 100px;
  margin: auto;
}
#header-items li { /* navbar header items padding btwn words. no wrap. */
  white-space: nowrap;
  padding-right: 10px;
  padding-left: 10px;
}
#header-items li > a { /* navbar header items*/
  color: #5ebf9c;
  text-align: center;
}
#header-items li > a:hover { /* navbar header items*/
  text-decoration: none;
  color: #15ade2;
}
#header-items li > div > a { /* dropdown menu items */
  color: #5ebf9c;
}
#header-items li > div > a:hover { /* dropdown menu items */
  text-decoration: none;
  color: #15ade2;
}
#toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(94, 191, 156)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
#toggler {
  border: 2px solid #5ebf9c;
}
#toggler:hover, #toggler:focus {
  outline: none;
  background-color: #15ade2;
}
.dropdown-menu { 
  background-color: #343a40;
  border-color: #5ebf9c;
}
.dropdown-divider {
  border-color: #15ade2;
}
/* END HEADER */

/* HOME PAGE */
.carousel-inner {
  overflow: hidden;
  border-radius: 10px;
}
.carousel-inner img.photo_1 {
  height: 500px;
  object-fit: cover;
  object-position: 50% 15%; 
}
.carousel-inner img.photo_2 {
  height: 500px;
  object-fit: cover;
  object-position: 80% 60%; 
}
.carousel-inner img.photo_3 {
  height: 500px;
  object-fit: cover;
  object-position: 40% 40%; 
}
.carousel-caption {
  bottom: 40px;
  color: white;
  margin-left: 10%;
  margin-right: 10%;
  padding: 5px;
  border-radius: 10px;
  text-align: center;
  background-color: #15ade2;
}
.home-page-headings {
  font-family: Georgia italic;
  font-style: italic;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px;
  text-align: center;
  color: white;
  border-radius: 10px;
  background-color: #5ebf9c;
}
.home-tiles {
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid white;
  border-radius: 10px;
  background-color: #343a40;
  overflow: hidden;
  transition: .4s ease-out;
}
.home-tiles span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #5ebf9c;
  color: #fff;
}
.home-tiles:hover {
  transition: .3s ease-in;
  background-color: #15ade2;
}
.overlay {
  position: relative;
  text-align: center;
  color: white;
}
.overlay img{
  width: 175px;
  height: 175px;
  margin: 55px 85px;
  object-fit: cover;
}
.overlay-text {
  display: none;
  position: absolute;
  padding-top: 65px;
  padding-right: 8px;
  padding-left: 8px;
  width: 100%;
  margin: auto;
  line-height: 1.5;
  font-size: 1.5em;
  top: 0;
  left: 0;
}
.what-we-do-tile {
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid white;
  border-radius: 10px;
  background-color: #15ade2;
  overflow: hidden;
}
.what-we-do-tile p {
  position: absolute;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 8px;
  padding-left: 8px;
  width: 100%;
  margin: auto;
  text-align: center;
  font-size: 1.3em;
  color: #fff;
}
.what-we-do-tile:hover {
}
/* END HOME PAGE */

/* PAGE HEADINGS */
.pageHeading {
  text-transform: uppercase;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, rgba(21, 173, 226, 0.5),rgba(94, 191, 156, 0.5));
  background-size: cover;
  color: white;
}
/* END PAGE HEADINGS*/

/* ABOUT US PAGE */
#about_us_description {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px;
  text-align: left;
  color: white;
  border-radius: 10px;
  background-color: #15ade2;
}
#staff-tiles {
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid white;
  background-color: #343a40;
  overflow: hidden;
}
#staff-tiles span {
  font-family: Georgia italic;
  font-style: italic;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  text-align: center;
  font-size: 1.6em;
  background-color: #5ebf9c;
  color: #fff;
}
#staff-tiles #title {
  position: absolute;
  top: 50px;
  right: 0;
  width: 50%;
  margin: auto;
  text-align: center;
  font-size: 1.2em;
  color: #fff;
}
#staff-photo > img {
  width: 200px;
  height: 200px;
  margin: 25px 70px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #5ebf9c;
  top: 50px;
  left: 50px;
}
#staff-tiles #email a {
  text-decoration: none;
  position: absolute;
  top: 110px;
  right: 0;
  width: 50%;
  margin: auto;
  text-align: center;
  font-size: 1.1em;
  color: #5ebf9c;
}
#staff-tiles #email a:hover {
  color: #15ade2;
}
#staff-tiles #phone_num a {
  text-decoration: none;
  position: absolute;
  top: 175px;
  right: 0;
  width: 50%;
  margin: auto;
  text-align: center;
  font-size: 1.1em;
  color: #5ebf9c;
}
#staff-tiles #phone_num a:hover {
  color: #15ade2;
}
#staff-tiles #voicemail {
  position: absolute;
  top: 200px;
  right: 0;
  width: 50%;
  margin: auto;
  text-align: center;
  font-size: .9em;
  color: #fff;
}
#staff-tiles:hover {
  box-shadow: 0 1px 5px 1px #5ebf9c;
}
/* END ABOUT US PAGE */

/* INDIVIDUAL ABOUT ME PAGE */
.about {
  height: 300vh;
  display: flex;
}
.aboutPicture {
  margin: 0 !important;
  background-color: #343a40;
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: center;
  object-position: cover;
}
.aboutPicture img {
  max-width: 100%;
  max-height: 100%;
}
.aboutPages {
  color: white;
  width: 50%;
}
.aboutPages div {
  padding-top: 30px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: scroll;
}
.aboutPages div > p {
  margin-top: 50px;
  width: 80%;
  font-size: 16px;
  line-height: 30px;
}
.aboutPages div:nth-child(1) {
  background-color: #343a40;
}
.aboutPages div:nth-child(2) {
  background-color: #5ebf9c;
}
.aboutPages div:nth-child(3) {
  background-color: #15ade2;
}
.aboutOtherInfo {
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, rgba(94, 191, 156, 0.5), rgba(21, 173, 226, 0.5));
}
.aboutOtherInfo a {
  text-decoration: none;
  color: white;
}
.aboutOtherInfo a:hover {
  color: #343a40;

}
.deanaAward {
  width: 45%;
}
.deanaAward img {
  max-width: 100%;
  max-height: 100%;
}
.deanaFamily {
  width: 45%;
}
.deanaFamily img {
  max-width: 100%;
  max-height: 100%;
  padding-bottom: 30px;
}
.awardsh5 {
  padding: 15px;
  margin-top: 20px;
  text-align: center;
}
.lesherh5 {
  padding-top: 30px;
  text-align: center;
}
/* END INDIVIDUAL ABOUT ME PAGE */

/* SERVICES PAGE */
.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
  position: relative;
  opacity: 0.8;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1; /* z-index must be here for links to be clicked. otherwise, image covers links and they are un-clickable */
}
.bgimg-1 {
  background-image: url("/images/cute_baby.jpg");
  height: 100vh;
}
.bgimg-2 {
  background-image: url("/images/baby_foot.jpg");
  height: 75vh;
}
.bgimg-3 {
  background-image: url("/images/red_shirt_kid.jpg");
  height: 75vh;
}
.bgimg-4 {
  background-image: url("/images/cute_baby.jpg");
  height: 75vh;
}
.caption {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.caption span.border {
  border-radius: 10px;
  background-color: #343a40;
  color: #5ebf9c;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 8px;
}
.arrow {
  height: 100%;
  width: 100%;
  text-align: center;
}
.down_arrow {
  height: 50px;
  width: auto;
}
.arrow img{
  margin: 0px 0 0 -20px;
  position: absolute;
  left: 50%;
  bottom: 18%;
}
.bounce {
  animation-iteration-count: infinite;
  animation: bounce 2.75s ease infinite;
  transform-origin: 50% 50%;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  5.55556% {
    transform: translateY(0);
  }
  11.11111% {
    transform: translateY(0);
  }
  22.22222% {
    transform: translateY(-15px);
  }
  27.77778% {
    transform: translateY(0);
  }
  33.33333% {
    transform: translateY(-15px);
  }
  44.44444% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}
.services_h3 {
  padding-bottom: 20px;
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px;
  color: #15ade2;;
}
.below-img1, .below-img2, .below-img3 {
  color: #343a40;
  background-color: white;
  text-align: center;
  padding: 50px 80px;
}
.below-img2 p a {
  text-decoration: none;
  font-style: italic;
  color: #5ebf9c;
}
.below-img2 p a:hover {
  color: #15ade2;
}
#services_carousel {
  padding: 30px 100px 10px;
  height: 820px;
  margin: 0 auto;
  width: 90%;
  overflow: hidden;
}
.bg_tv_shape {
  font-family: Georgia italic;
  font-style: italic;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px;
  color: white;
  border-radius: 10px;
  width: 90%;
  height: 950px;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 50% / 15%;
  background-color: #343a40;
}
.bg_tv_shape h2 {
  padding-top:30px;
  text-align: center;
  color: white;
}
.testimonial_div {
  text-align: center;
  margin: 50px;
}
.testimonial_link {
  font-size: 1.8em;
  color: #5ebf9c;
  position: relative;
  font-style: italic;
}
.testimonial_link:hover {
  text-decoration: none;
  color: #15ade2;
}
.testimonial_vid {
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 90%;
}
/* END SERVICES PAGE */

/* FORMS PAGE */
.formsImg {
  background-color: white;
  position: relative;
  height: 75vh;
  background-image: url("/images/documents.jpg");
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 75%;
  z-index: -1; /* z-index must be here for links to be clicked. otherwise, image covers links and they are un-clickable */
}
.formLinksMopContainer {
  color: white;
}
.formLinks, .mop {
  padding: 20px;
}
.formLinks {
  background-color: #343a40;
}
.formLinks h5, .mop h5 {
  padding-top: 30px;
}
.formLinks h3 {
  color: #5ebf9c;
}
.formLinks ul {
  list-style-type: none;
}
.formLinks li > a {
  font-style: italic;
  color: #5ebf9c;
  text-decoration: none;
}
.formLinks li > a:hover {
  color: #15ade2;
}
.mop {
  background-color: #5ebf9c;
}
.mop h3, .mop h5 {
  color: #343a40;
}
/* END FORMS PAGE */

/* CLIENT INFO FORM PAGE */
/* END CLIENT INFO FORM PAGE */

/* ROI FORM PAGE */
.roiForm section {
  padding-top: 15px;
  padding-bottom: 15px;
}
.roiForm section.directions > p {
  font-style: italic;
  text-align: center;
}
.roiCheckbox1 {
  padding-bottom: 15px;
}
.signature-pad--body canvas {
  max-height: 100%;
  width: 100%;
  border: 2px dotted grey;
  border-radius: 10px;
}
/* END ROI FORM PAGE */

/* PAYMENT POLICY FORM */
.paymentPolicyForm section {
  padding-top: 15px;
}
.paymentPolicyForm > section:nth-child(5) {
  padding-top: 0;
  padding-bottom: 0;
}
.paymentPolicyForm .paymentAuthInfo {
  text-align: center;
}
.paymentPolicyForm a {
  text-decoration: none;
  font-style: italic;
  color: #5ebf9c;
}
.paymentPolicyForm a:hover {
  color: #15ade2;
}
/* END PAYMENT POLICY FORM */

/* CANCELLATION POLICY FORM */
.cancellationPolicyForm .cancellationFormHeadings {
  text-align: center;
}
.cancellationPolicyForm .cancellationFormHeadings small {
  font-style: italic;
}
.cancellationPolicyForm li {
  padding-bottom: 10px;
}
/* END CANCELLATION POLICY FORM */

/* PEDIATRIC HISTORY FORM */
/* END PEDIATRIC HISTORY FORM */

/* LOCAL PROFESSIONALS, HELPFUL LINKS, REC PROD PAGE */
.LHRContent {
  background-color: white;
  color: black;
  text-align: center;
  display: block;
}
.LHRContent a {
  color: #5ebf9c;
  font-style: italic;
}
.LHRContent a:hover {
  text-decoration: none;
  color: #15ade2;
}
.itemContent span {
  font-size: 1.8em;
  color: #5ebf9c;
}
.itemContent img, .itemContent img {
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 70%;
  max-height: 70%;  
}
.itemContent {
  /*background: linear-gradient(to bottom, rgba(52, 58, 64, 1), rgba(52, 58, 64, 1)); */
  padding-top: 30px;
  padding-bottom: 30px;
}
.itemContent p, .itemContent p {
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 30px;
}
/* END LOCAL PROFESSIONALS, HELPFUL LINKS, REC PROD PAGE */

/* CONTACT PAGE */
.contact {
  padding: 30px;
}
.contact h3, .contact h5 {
  text-align: center;
  color: #5ebf9c;
}
.contactForm p {
  text-align: center;
}
.contactInfo {
 text-align: center;
}
.contactInfo a {
  text-decoration: none;
  font-style: italic;
  color: #5ebf9c;
}
.contactInfo svg{
  color: #343a40;
}
.contactInfo a:hover {
  color: #15ade2;
}
.contactInfo hr {
  width: 70%;
}
.contactSocialMediaImages img {
  width: 40px;
  height: 40px;
}
.contactSocialMediaImages a:hover {
  opacity: .5;
}
.map {
  text-align: center;
}
.map iframe {
  width: 90%;
  padding-bottom: 30px;
}
/* END CONTACT PAGE */

/* PRIVACY POLICY PAGE */
.privacy_policy {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px;
  text-align: left;
  color: white;
  border-radius: 10px;
  background-color: #15ade2;
}
.privacy_policy p > a {
  font-style: italic;
  color: #343a40;
}
.privacy_policy p > a:hover {
  color: white;
}
/* END PRIVACY POLICY PAGE */

/* FOOTER */
.panel-footer {
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: #88898b;
  border-top: 0;
  color: white;
}
.panel-footer div.row {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 35px;
  text-align: center;
}
.panel-footer hr {
  background-color: white;
}
#contact-info a {
  text-decoration: none;
  font-style: italic;
  color: #5ebf9c;
}
#contact-info svg{
  color: #343a40;
}
#contact-info a:hover {
  color: #15ade2;
}
#social-media-images img {
  width: 50px;
  height: 50px;
}
#social-media-images a:hover {
  opacity: .5;
}
#copyright {
  margin-top: 15px;
  font-size: .8em;
  text-align: center;
  color: #343a40;
}
#copyright a {
  color: #5ebf9c;
}
#copyright a:hover {
  text-decoration: none;
  color: #15ade2;
}
#privacy-policy {
  margin-top: 15px;
  font-size: .8em;
}
#privacy-policy a {
  color: #5ebf9c;
}
#privacy-policy a:hover {
  text-decoration: none;
  color: #15ade2;
}
/* END FOOTER */



/********** Large devices only **********/
@media (min-width: 1200px) {
  .container .jumbotron {
    background: url('../images/stock_photo1.jpg') no-repeat;
    background-size: cover;
    height: 600px;
  }
  /* HOME PAGE*/
  .what-we-do-tile p {
    font-size: 1.7em;
  }
  /*END HOME PAGE*/

  #staff-photo > img {
    margin: 25px 35px;
  }
  #staff-tiles #title {
    font-size: 1.1em;
  }
  #staff-tiles #email a {
    font-size: .85em;
    color: #5ebf9c;
  }
  #staff-tiles #phone_num a {
    font-size: 1.3em;
  }
  #staff-tiles #voicemail {
    font-size: 1.1em;
  }
  #staff-tiles .last-staff-tile > img {
    margin: 25px 175px;
  }
  /* END ABOUT US PAGE */

  /* FOOTER */
  .panel-footer section:nth-child(1), .panel-footer section:nth-child(2) {
  border-right: 1px solid white;
  }
  /* END FOOTER*/
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
  #logo-img {
    background: url('../images/restaurant-logo_medium.png') no-repeat;
    width: 100px;
    height: 100px;
    margin: 5px 5px 5px 0;
  }
  /* End Header */

  /* Home Page */
  .container .jumbotron {
    background: url('../images/stock_photo1.jpg') no-repeat;
    background-size: cover;
    height: 500px;
  }
  .overlay img{
    width: 150px;
    height: 150px;
    margin: 65px 70px;
  }
  .overlay-text {
    padding-top: 60px;
    line-height: 1.4;
    font-size: 1.4em;
  }
  .what-we-do-tile p {
    font-size: 1.5em;
  }
  /* End Home Page */

  /* ABOUT US PAGE */
  #staff-photo > img {
    margin: 25px 130px;
  }
  /* END ABOUT US PAGE */

  /* SERVICES PAGE */
  #services_carousel {
    height: 1000px;
  }
  .bg_tv_shape {
    height: 1150px;
  }
  /* END SERVICES PAGE */

    /* FOOTER */
  .panel-footer section:nth-child(1), .panel-footer section:nth-child(2) {
  border-right: 1px solid white;
  }
  /* END FOOTER*/
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /* Home Page */
  .container .jumbotron {
    background: url('../images/stock_photo1.jpg') no-repeat;
    background-size: cover;
    height: 400px;
  }
  .overlay img{
    width: 130px;
    height: 130px;
    margin: 75px 40px;
  }
  .overlay-text {
    padding-top: 60px;
    line-height: 1.4;
    font-size: 1.2em;
  }
  /* End Home Page */

  /* SERVICES PAGE */
  #services_carousel {
    display: none;
  }
  .bg_tv_shape {
    display: none;
  }
  /* END SERVICES PAGE */

  /* INDIVIDUAL ABOUT ME PAGE */
  .about {
    height: auto; /**/
    display: block; /**/
  }
  .aboutPicture {
    padding-top: 15px;
    height: 50vh;
    width: 100%; 
    display: block;
    text-align: center;
  }
  .aboutPages {
    width: 100%;
  }
  .aboutPages div > p {
    margin-top: 50px;
    width: 80%;
    font-size: 15px;
    line-height: 30px;
    overflow: scroll; 
  }
  .deanaAward {
    width: 20%;
  }
  .deanaFamily {
    width: 30%;
  }
  /* END INDIVIDUAL ABOUT ME PAGE */

  /* FOOTER */
  .panel-footer section:nth-child(1), .panel-footer section:nth-child(2) {
  border-right: 1px solid white;
  }
  /* END FOOTER*/
}

/********** Extra small devices only **********/
@media (min-width: 480px) and (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 100px;
  }
  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }

  #call-btn > a {
    font-size: 1.5em;
    display: block;
    margin: 0 20px;
    padding: 10px;
    border: 2px solid #fff;
    background-color: #f6b319;
    color: #951c49;
  }
  #xs-deliver {
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  /* End Header */

  /* ABOUT US PAGE */
  #staff-tiles span {
    font-size: 1.4em;
  }
  #staff-tiles #title {
    font-size: 1em;
  }
  #staff-photo > img {
    width: 160px;
    height: 160px;
    margin: 45px 45px;
  }
  #staff-tiles #email a {
    font-size: .7em;
  }
  #staff-tiles #phone_num a {
    font-size: .9em;
  }
  #staff-tiles #phone_num a:hover {
    color: #15ade2;
  }
  #staff-tiles #voicemail {
    font-size: .7em;
  }
  /* END ABOUT US PAGE */

  /* Footer */
  .panel-footer section {
    margin-bottom: 0 30px;
    text-align: center;
  }
  .panel-footer section hr {
    width: 70%;
  }
  #social-media-images img {
  width: 30px;
  height: 30px;
  }
  /* End Footer */

  /* Home Page */
  .container .jumbotron {
    background: url('../images/stock_photo1.jpg') no-repeat;
    background-size: cover;
    height: 300px;
  }
  .overlay img{
    width: 130px;
    height: 130px;
    margin: 75px 40px;
  }
  .overlay-text {
    padding-top: 60px;
    line-height: 1.4;
    font-size: 1.9em;
  }
  .what-we-do-tile p {
    font-size: 1.3em;
  }
  .menu-item-photo {
    margin-right: auto;
  }
  .menu-item-tile .menu-item-price {
    text-align: center;
  }
  .menu-item-description {
    text-align: center;;
  }
  /* END  HOME PAGE */

  /* SERVICES PAGE */
  #services_carousel {
    display: none;
  }
  .bg_tv_shape {
    display: none;
  }
  /* END SERVICES PAGE */

  /* INDIVIDUAL ABOUT ME PAGE */
  .about {
    height: auto; /**/
    display: block; /**/
  }
  .aboutPicture {
    padding-top: 15px;
    height: 50vh;
    width: 100%; 
    display: block;
    text-align: center;
  }
  .aboutPages {
    width: 100%;
  }
  .aboutPages div > p {
    font-size: 18px;
    line-height: 25px;
  }
  .deanaAward {
    width: 25%;
  }
  .deanaFamily {
    width: 40%;
  }
  /* END INDIVIDUAL ABOUT ME PAGE */

  /* FORMS PAGE*/
  .formsImg {
    height: 50vh;
  }
  .formLinksMopContainer {
    text-align: center;
  }
  .formLinks ul, .mop ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  /* END FORMS PAGE*/

  /* CONTACT PAGE*/
  .contactForm {
    padding-bottom: 30px;
  }
  /* END CONTACT PAGE*/
}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 5px;
    font-size: 6vw;
  }
  #call-btn > a {
  font-size: 1.5em;
  display: block;
  margin: 0 20px;
  padding: 10px;
  border: 2px solid #fff;
  background-color: #f6b319;
  color: #951c49;
  }
  #xs-deliver {
    margin-top: 5px;
    font-size: .7em;
    letter-spacing: .1em;
    text-transform: uppercase;
  }
  /* End Header */

  /* PAGE HEADINGS */
  .pageHeading h1 {
    font-size: 1.6em;
  }
  /* END PAGE HEADINGS*/
  
  /* Home page */
  body {
    font-size: 4vw;
  }
  .overlay img{
    width: 120px;
    height: 120px;
    margin: 75px 40px;
  }
  .overlay-text {
    padding-top: 50px;
    line-height: 1.4;
    font-size: 1.7em;
  }
  .what-we-do-tile p {
    font-size: 1em;
  }
  .jumbotron  div {
  color: white;
  margin-left: 10%;
  margin-right: 10%;
  }
  .col-xxs-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 100%;
  }
  /* END HOME PAGE */

  /* ABOUT US PAGE */
  #staff-tiles span {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    text-transform: uppercase;
    background-color: #5ebf9c;
    color: #fff;
  }
  #staff-tiles #title {
    width: 100%;
    font-size: 1.1em;
  }
  #staff-photo > img {
    display: none;
  }
  #staff-tiles #email a {
    width: 100%;
    font-size: 1em;
  }
  #staff-tiles #phone_num a {
    width: 100%;
    font-size: 1.2em;
  }
  #staff-tiles #voicemail {
    width: 100%;
    font-size: .9em;
  }
  /* END ABOUT US PAGE */

  /* INDIVIDUAL ABOUT ME PAGE */
  .aboutName h1 {
    font-size: 20px;
  }
  .about {
    height: auto; 
    display: block; 
  }
  .aboutPicture {
    padding-top: 15px;
    height: 50vh;
    width: 100%; 
    display: block;
    text-align: center;
  }
  .aboutPages {
    width: 100%;
  }
  .aboutPages div > p {
    font-size: 14px;
    line-height: 20px;
    overflow: scroll;
  }
  .deanaAward {
    width: 50%;
  }
  .deanaFamily {
    width: 50%;
  }
  .aboutOtherInfo h3 {
    font-size: 20px;
  }
  /* END INDIVIDUAL ABOUT ME PAGE */  

    /* SERVICES PAGE */
  .bgimg-1 {
    background-position: 30%;
  }
  .bgimg-2 {
    background-position: 80%;
  }
  .bgimg-3 {
    background-position: 40%;
  }
  .bgimg-4 {
    background-position: 30%;
  }
  .services_h3 {
    padding-bottom: 20px;
    letter-spacing: 0;
    text-transform: uppercase;
    font-size: 20px;
    color: #15ade2;;
  }
  #services_carousel {
    display: none;
  }
  .bg_tv_shape {
    display: none;
  }
  /* END SERVICES PAGE */

  /* FORMS PAGE*/
  .formsImg {
    height: 50vh;
  }
  .formLinksMopContainer {
    text-align: center;
  }
  .formLinks ul, .mop ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  /* END FORMS PAGE*/

  /* CONTACT PAGE*/
  .contactForm {
    padding-bottom: 30px;
  }
  /* END CONTACT PAGE*/

  /* FOOTER */
  .panel-footer section {
  margin-bottom: 0 30px;
  text-align: center;
  }
  #social-media-images img {
  width: 30px;
  height: 30px;
}
  /*END FOOTER*/
}
