{% extends "pedcon_main/base.html" %}
{% load static %}

{% block content %}

  <div class="pageHeading">
    <h1>About Us</h1>
  </div>

    <div id="about_us_description">
      <p>
        Occupational Therapists specialize in helping children succeed in activities of daily living in the home, school, and community. They are uniquely trained to help children detect, interpret, and regulate sensory information which, in turn, allows for appropriate motor and behavioral responses.<br><br>

        All therapists at Pediatric Connections have training in Masgutova Neurosensorimotor Reflex Integration (MNRI) and are the leading local experts in the Masgutova Method. This specialized technique sets us apart from others and offers our clients a highly effective, evidence-based intervention. While we primarily utilize this methodology, we continue to implement other strategies to meet the unique needs of each client.
      </p>
    </div>
    <h3 class="aboutClick">Click on our cards to learn more!</h3>

    <div class="row staffContainer m-0">

      <div class="col-xl-6 col-lg-12">
        <a href="{% url 'pedcon_main:about_us_deana' %}">
          <div id="staff-tiles">
            <span>Deana Lesher</span>
              <div id="staff-photo">
                <img src="{% static 'pedcon_main/images/deana_portrait.jpg' %}">
              </div>
              <div id="title">
                Occupational Therapist/Owner
              </div>
              <div id="email">
                <a href="mailto: deana@pediatricconnectionsot.com">
                deana@pediatricconnectionsot.com
                </a>
              </div>
              <div id="phone_num">
                <a href="tel: 913-257-5808">
                  913-257-5808
                </a>
              </div>
              <div id="voicemail">
                Voicemail Extension: #70
              </div>
          </div>
        </a>
      </div> <!--End box-->

      <div class="col-xl-6 col-lg-12">
        <a href="{% url 'pedcon_main:lisa-berry' %}">
          <div id="staff-tiles">
            <span>Lisa Berry</span>
              <div id="staff-photo">
                <img src="{% static 'pedcon_main/images/lisa_berry_portrait.jpg' %}">
              </div>
              <div id="title">
                Occupational Therapist
              </div>
              <div id="email">
                <a href="mailto: lisa@pediatricconnectionsot.com">
                lisa@pediatricconnectionsot.com
                </a>
              </div>
              <div id="phone_num">
                <a href="tel: 913-257-5808">
                  913-257-5808
                </a>
              </div>
              <div id="voicemail">
                Voicemail Extension: #73
              </div>
          </div>
        </a>
      </div> <!--End box-->

      <div class="col-xl-6 col-lg-12">
        <a href="{% url 'pedcon_main:cathy-pickert' %}">
          <div id="staff-tiles">
            <span>Cathy Pickert</span>
              <div id="staff-photo">
                <img src="{% static 'pedcon_main/images/cathy_portrait.jpg' %}">
              </div>
              <div id="title">
                Occupational Therapist
              </div>
              <div id="email">
                <a href="mailto: cathy@pediatricconnectionsot.com">
                cathy@pediatricconnectionsot.com
                </a>
              </div>
              <div id="phone_num">
                <a href="tel: 913-257-5808">
                  913-257-5808
                </a>
              </div>
              <div id="voicemail">
                Voicemail Extension: #74
              </div>
          </div>
        </a>
      </div> <!--End box-->

      <div class="col-xl-6 col-lg-12">
        <a href="{% url 'pedcon_main:jennifer-vennart' %}">
          <div id="staff-tiles">
            <span>Jen Vennart</span>
              <div id="staff-photo">
                <img src="{% static 'pedcon_main/images/jen_vennart_portrait.jpg' %}">
              </div>
              <div id="title">
                Occupational Therapist
              </div>
              <div id="email">
                <a href="mailto: jen@pediatricconnectionsot.com">
                jen@pediatricconnectionsot.com
                </a>
              </div>
              <div id="phone_num">
                <a href="tel: 913-257-5808">
                  913-257-5808
                </a>
              </div>
              <div id="voicemail">
                Voicemail Extension: #75
              </div>
          </div>
        </a>
      </div> <!--End box-->

      <div class="col-xl-6 col-lg-12">
        <a href="{% url 'pedcon_main:briana-picht' %}">
          <div id="staff-tiles">
            <span>Briana Picht</span>
              <div id="staff-photo">
                <img src="{% static 'pedcon_main/images/briana_portrait.jpg' %}">
              </div>
              <div id="title">
                Occupational Therapist
              </div>
              <div id="email">
                <a href="mailto: briana@pediatricconnectionsot.com">
                briana@pediatricconnectionsot.com
                </a>
              </div>
              <div id="phone_num">
                <a href="tel: 913-257-5808">
                  913-257-5808
                </a>
              </div>
              <div id="voicemail">
                Voicemail Extension: #77
              </div>
          </div>
        </a>
      </div> <!--End box-->

      <div class="col-xl-6 col-lg-12">
        <a href="{% url 'pedcon_main:suzanne-remy' %}">
          <div id="staff-tiles">
            <span>Suzanne Remy</span>
              <div id="staff-photo">
                <img src="{% static 'pedcon_main/images/suzanne_portrait.jpg' %}">
              </div>
              <div id="title">
                Occupational Therapist
              </div>
              <div id="email">
                <a href="mailto: suzanne@pediatricconnectionsot.com">
                suzanne@pediatricconnectionsot.com
                </a>
              </div>
              <div id="phone_num">
                <a href="tel: 913-257-5808">
                  913-257-5808
                </a>
              </div>
              <div id="voicemail">
                Voicemail Extension: #79
              </div>
          </div>
        </a>
      </div> <!--End box-->

      <div class="col-xl-6 col-lg-12">
        <a href="{% url 'pedcon_main:jennifer-shrum' %}">
          <div id="staff-tiles">
            <span>Jennifer Shrum</span>
              <div id="staff-photo">
                <img src="{% static 'pedcon_main/images/jen_shrum_portrait.jpg' %}">
              </div>
              <div id="title">
                Occupational Therapist
              </div>
              <div id="email">
                <a href="mailto: jennifers@pediatricconnectionsot.com">
                jennifers@pediatricconnectionsot.com
                </a>
              </div>
              <div id="phone_num">
                <a href="tel: 913-257-5808">
                  913-257-5808
                </a>
              </div>
              <div id="voicemail">
                Voicemail Extension: #80
              </div>
          </div>
        </a>
      </div> <!--End box-->

      <div class="col-xl-6 col-lg-12">
        <a href="{% url 'pedcon_main:trisha-morris' %}">
          <div id="staff-tiles">
            <span>Trisha Morris</span>
              <div id="staff-photo">
                <img src="{% static 'pedcon_main/images/trisha_morris.jpeg' %}">
              </div>
              <div id="title">
                Occupational Therapist
              </div>
              <div id="email">
                <a href="mailto: trisha@pediatricconnectionsot.com">
                trisha@pediatricconnectionsot.com
                </a>
              </div>
              <div id="phone_num">
                <a href="tel: 913-257-5808">
                  913-257-5808
                </a>
              </div>
              <div id="voicemail">
                Voicemail Extension: #78
              </div>
          </div>
        </a>
      </div> <!--End box-->

      <div class="col-xl-6 col-lg-12">
        <a href="{% url 'pedcon_main:casey-fitzgerald' %}">
          <div id="staff-tiles">
            <span>Casey Fitzgerald</span>
              <div id="staff-photo">
                <img src="{% static 'pedcon_main/images/casey_portrait.jpeg' %}">
              </div>
              <div id="title">
                Occupational Therapist
              </div>
              <div id="email">
                <a href="mailto: casey@pediatricconnectionsot.com">
                casey@pediatricconnectionsot.com
                </a>
              </div>
              <div id="phone_num">
                <a href="tel: 913-257-5808">
                  913-257-5808
                </a>
              </div>
              <div id="voicemail">
                Voicemail Extension: #65
              </div>
          </div>
        </a>
      </div> <!--End box-->

      <div class="col-xl-6 col-lg-12">
        <a href="{% url 'pedcon_main:kelly-daugherty' %}">
          <div id="staff-tiles">
            <span>Kelly Daugherty</span>
              <div id="staff-photo">
                <img src="{% static 'pedcon_main/images/kelly_portrait.jpg' %}">
              </div>
              <div id="title">
                Occupational Therapist
              </div>
              <div id="email">
                <a href="mailto: kelly@pediatricconnectionsot.com">
                kelly@pediatricconnectionsot.com
                </a>
              </div>
              <div id="phone_num">
                <a href="tel: 913-257-5808">
                  913-257-5808
                </a>
              </div>
              <div id="voicemail">
                Voicemail Extension: #81
              </div>
          </div>
        </a>
      </div> <!--End box-->

      <div class="col-xl-6 col-lg-12">
        <a href="{% url 'pedcon_main:lisa-bergeson' %}">
          <div id="staff-tiles">
            <span>Lisa Bergeson</span>
              <div id="staff-photo">
                <img src="{% static 'pedcon_main/images/lisa_bergeson_portrait.jpg' %}">
              </div>
              <div id="title">
                Speech Language Pathologist
              </div>
              <div id="email">
                <a href="mailto: lbergeson@pediatricconnectionsot.com">
                lbergeson@pediatricconnectionsot.com
                </a>
              </div>
              <div id="phone_num">
                <a href="tel: 913-257-5808">
                  913-257-5808
                </a>
              </div>
              <div id="voicemail">
                Voicemail Extension: #72
              </div>
          </div>
        </a>
      </div> <!--End box-->

      <div class="col-xl-6 col-lg-12">
        <a href="{% url 'pedcon_main:paula-worley' %}">
          <div id="staff-tiles">
            <span>Paula Worley</span>
              <div id="staff-photo">
                <img src="{% static 'pedcon_main/images/paula_portrait.jpg' %}">
              </div>
              <div id="title">
                Speech Language Pathologist
              </div>
              <div id="email">
                <a href="mailto: paula@pediatricconnectionsot.com">
                paula@pediatricconnectionsot.com
                </a>
              </div>
              <div id="phone_num">
                <a href="tel: 913-257-5808">
                  913-257-5808
                </a>
              </div>
              <div id="voicemail">
                Voicemail Extension: #76
              </div>
          </div>
        </a>
      </div> <!--End box-->

      <div class="col-xl-6 col-lg-12">
        <a href="{% url 'pedcon_main:kaylan-campain' %}">
          <div id="staff-tiles">
            <span>Kaylan Campain</span>
              <div id="staff-photo">
                <img src="{% static 'pedcon_main/images/kaylan_portrait.jpeg' %}">
              </div>
              <div id="title">
                Speech Language Pathologist
              </div>
              <div id="email">
                <a href="mailto: kaylan@pediatricconnectionsot.com">
                kaylan@pediatricconnectionsot.com
                </a>
              </div>
              <div id="phone_num">
                <a href="tel: 913-257-5808">
                  913-257-5808
                </a>
              </div>
              <div id="voicemail">
                
              </div>
          </div>
        </a>
      </div> <!--End box-->

      <div class="col-xl-6 col-lg-12">
        <a href="{% url 'pedcon_main:taylor-sjorgen' %}">
          <div id="staff-tiles">
            <span>Taylor Sjorgen</span>
              <div id="staff-photo">
                <img src="{% static 'pedcon_main/images/taylor_portrait.jpg' %}">
              </div>
              <div id="title">
                Speech Language Pathologist
              </div>
              <div id="email">
                <a href="mailto: taylor@pediatricconnectionsot.com">
                taylor@pediatricconnectionsot.com
                </a>
              </div>
              <div id="phone_num">
                <a href="tel: 913-257-5808">
                  913-257-5808
                </a>
              </div>
              <div id="voicemail">
                Voicemail Extension: #82
              </div>
          </div>
        </a>
      </div> <!--End box-->

      <div class="col-xl-6 col-lg-12">
        <a href="{% url 'pedcon_main:allison-casey' %}">
          <div id="staff-tiles">
            <span>Allison Casey</span>
              <div id="staff-photo">
                <img src="{% static 'pedcon_main/images/allison_casey.jpg' %}">
              </div>
              <div id="title">
                Office Manager
              </div>
              <div id="email">
                <a href="mailto: info@pediatricconnectionsot.com">
                info@pediatricconnectionsot.com
                </a>
              </div>
              <div id="phone_num">
                <a href="tel: 913-257-5808">
                  913-257-5808
                </a>
              </div>
              <div id="voicemail">
                Press 1
              </div>
          </div>
        </a>
      </div> <!--End box-->

      


    </div> <!--End class="row"-->

{% endblock content %}