{% extends "pedcon_main/base.html" %} 
{% load static wagtailcore_tags wagtailimages_tags %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'pedcon_main/css/about-us.css' %}" />
{% endblock %}

{% block content %}

<div class="pageHeading">
  <h1>{{ page.title }}</h1>
</div>

<div id="about_us_description">
  <p>
    Occupational Therapists specialize in helping children succeed in activities 
    of daily living in the home, school, and community. They are uniquely trained 
    to help children detect, interpret, and regulate sensory information which, 
    in turn, allows for appropriate motor and behavioral responses.
  </p>
  <p>All therapists at Pediatric Connections have training in Masgutova 
    Neurosensorimotor Reflex Integration (MNRI) and are the leading local 
    experts in the Masgutova Method. This specialized technique sets us apart 
    from others and offers our clients a highly effective, evidence-based 
    intervention. While we primarily utilize this methodology, we continue to 
    implement other strategies to meet the unique needs of each client.</p>
</div>

<h3 class="aboutClick">Click on our cards to learn more!</h3>

<div class="row staffContainer m-0">
  {% for page in aboutpages %}
    <div class="col-xl-6 col-lg-12">
      <a href="{{ page.slug }}">
        <div id="staff-tiles">
          <span>{{ page.title }}</span>
            <div id="staff-photo">
              {% image page.image fill-500x500 as img %}
              <img src="{{ img.url }}" alt="{{ page.title }} portait">
            </div>
            <div id="title">
              {{ page.occupation }}
            </div>
            <div id="email">
              <a href="mailto: {{ page.email }}">
                {{ page.email }}
              </a>
            </div>
            <div id="phone_num">
              <a href="tel: {{ page.phone }}">
                {{ page.phone }}
              </a>
            </div>
            <div id="voicemail">
              Voicemail Extension: #{{ page.phone_ext }}
            </div>
        </div>
      </a>
    </div> <!--End box-->
  {% endfor %}
</div>
 
{% endblock content %}
