{% extends "pedcon_main/base.html" %}
{% load static %}

{% block content %}

  <!--begin main content-->
  <div class="pageHeading">
    <h1>Hi! My name is Deana.</h1>
  </div>

  <section class="aboutDeana">
    <div class="aboutPicture">
      <img src="{% static 'pedcon_main/images/deana_portrait.jpg' %}">
    </div>
    <div class="aboutPages">
      <div>
        <h3>Bio</h3>
        <p>
          Deana Lesher is the founder and owner of Pediatric Connections.  She is a proud graduate of the University of Kansas with a Bachelor of Science in Occupational Therapy.  Deana has extensive experience in pediatric settings including 10 years in the public school system.​<br><br>
 
          Occupational Therapists specialize in helping children succeed in activities of daily living in the home, school, and community.  They are uniquely trained to help children detect, interpret, and regulate sensory information which, in turn, allows for appropriate motor and behavioral responses.<br><br>

          Deana has been studying reflex integration and has over 400 hours in continuing education.  This is often called "the missing link" in therapy and is the main focus of her intervention protocol.  She is also level 1 certified in Handwriting Without Tears and successfully implemented that curriculum in three different school districts.<br><br>

          New seasons of life bring new adventures!  Deana is married to Mike, a retired Commander in the US Navy.  Pictured below: Gracen, Grant, new beautiful daughter Nicole, Garrett, Deana and Mike.<br>
        </p>
      </div>

      <div>
        <h3>A little about me...</h3>
        <p>
          <dl class="aboutList">
            <dt>
              If you could travel anywhere, where would you like to go?
            </dt>
            <dd>- USA: Camping... in a cushy RV exploring all the national parks, (hopefully with grandkids soon!)<br>
              - International: Scotland and Ireland
            </dd>
            <dt>
              What is the best advice you've ever been given?
            </dt>
            <dd>-  Find a job that you LOVE doing and find a way to earn an income doing it.  I was sitting in a sign language class at KU with zero clue as to what I wanted to be when I grew up.  A friend in the class said she was going into OT school.  The rest is history.  OT is arguably the most rewarding, fulfilling and live-giving profession ever!</dd>
            <dt>
              What do you do for fun?
            </dt>
            <dd>- Read books like Polyvagal Theory, Clinical Applications of Polyvagal Theory, Polyvagal Theory in Therapy, Building Bounce, Anatomy of the Soul and plan vacations (see #1) to bring above listed books along for the journey.</dd>
            <dt>
              What is your favorite movie or book? 
            </dt>
            <dd>- See #3 and Nacho Libre</dd>
            <dt>
              What is the best advice you can give your clients? 
            </dt>
            <dd>-  My favorite quote is by Ralph Waldo Emerson, ”What lies behind us and what lies before us are tiny matters compared to what lies within us."  God gave us an incredible spirit not only to survive, but to thrive.  If you find yourself living in a predominant state of survival, there is hope.  Keep persevering and let your light shine!</dd>
            <dt>
              Bonus: Favorite scripture verse
            </dt>
            <dd>- “You are the light of the world. A town built on a hill cannot be hidden. Neither do people light a lamp and put it under a bowl. Instead they put it on its stand, and it gives light to everyone in the house. In the same way, let your light shine before others, that they may see your good deeds and glorify your Father in heaven." Matthew 5:14-16</dd>
          </dl>
        </p>
      </div>
      <div>
        <h3>Awards & Pictures</h3>
        <h5 class="awardsh5">
          Recipient of the 2019 KOTA Occupational Therapist of the Year Award
        </h5>
        <div class="deanaAward">
          <img src="{% static 'pedcon_main/images/deana_award.jpg' %}">
        </div>
        <h5 class="lesherh5">
         Lesher Family
        </h5>
        <div class="deanaFamily">
          <img src="{% static 'pedcon_main/images/deana_family.jpg' %}">
        </div>
      </div>
    </div>
  </section>

  <section class="aboutOtherInfo">
    <a href="{% url 'pedcon_main:about_us' %}"><h3>Return to "About Us"</h3></a>
  </section>

{% endblock content %}

  