{% extends "pedcon_main/base.html" %}
{% load static %}

{% block content %}

  <!--begin main content-->
  <div class="pageHeading">
    <h1>Hi! My name is Andrea.</h1>
  </div>

  <section class="about">
    <div class="aboutPicture">
      <img src="{% static 'pedcon_main/images/andrea_portrait.jpg' %}">
    </div>
    <div class="aboutPages">
      <div>
        <h3>A little about me...</h3>
        <p>
          <ol class="aboutList">
            <li>
              If you could travel anywhere, where would you like to go?<br>
              Bali
            </li><br>
            <li>
              What is the best advice you've ever been given?<br>
              Everything is impermanent. If things are good, enjoy every magical second. If things are challenging know it won't last forever.
            </li><br>
            <li>
              What do you do for fun?<br>
              Time in nature,  yoga and exercise, walks and paddle boarding with my two children and my dog Willow.
            </li><br>
            <li>
              What is your favorite movie or book? <br>
              The Power of Now
            </li><br>
            <li>
              What is the best advice you can give your clients? <br>
              Practice some type of self care everyday. Mediation, move your body, enjoy a cup of coffee or tea, take a walk in nature, epsom salt bath. You will be better for everyone around you if you take care of youself first.
            </li><br>

          </ol>
        </p>
      </div>
    </div>
  </section>

  <section class="aboutOtherInfo">
    <a href="{% url 'pedcon_main:about_us' %}"><h3>Return to "About Us"</h3></a>
  </section>

{% endblock content %}

  