{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <title>Pediatric Connections</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="{% static 'pedcon_main/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'pedcon_main/css/styles.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="{% static 'pedcon_main/images/favicon.png' %}"/>
  </head>
<body>
  <header class="header">
    <nav id="header-nav" class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-center">

        <!--Navbar header-->
      <a href="{% url 'pedcon_main:index' %}" class="navbar-brand d-flex w-25 mr-auto" id="logo"><img style="width: 170px" src="{% static 'pedcon_main/images/logo.png' %}" alt="logo">
      </a>

      <!--Build collapsible button for small screen size-->
      <button id="toggler" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header-items" aria-controls="header-items" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <!--Populate collapsible button with information-->
      <div class="navbar-collapse collapse w-50" id="header-items">
        <ul class="navbar-nav w-100 justify-content-center">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'pedcon_main:index' %}">Home <span class="sr-only">(current)</span></a><hr class="d-block d-lg-none d-xl-none">
          </li>
          <li class="nav-item">
            <a class="nav-link aboutus" href="{% url 'pedcon_main:about_us' %}">About Us</a><hr class="d-block d-lg-none d-xl-none">
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'pedcon_main:services' %}">Services</a><hr class="d-block d-lg-none d-xl-none">
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'blog:blog' %}">Blog</a><hr class="d-block d-lg-none d-xl-none">
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'pedcon_main:forms' %}">Forms</a><hr class="d-block d-lg-none d-xl-none">
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Resources
            </a><hr class="d-block d-lg-none d-xl-none">
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'pedcon_main:faq' %}">FAQ</a>
              <a class="dropdown-item" href="{% url 'pedcon_main:local_professionals' %}">Local Professionals</a>
              <a class="dropdown-item" href="{% url 'pedcon_main:helpful_links' %}">Helpful Links</a>
              <a class="dropdown-item" href="{% url 'pedcon_main:recommended_products' %}">Recommended Products</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'pedcon_main:contact' %}">Contact</a><hr class="d-block d-lg-none d-xl-none">
          </li>
        </ul>

        <!--Hidden search bar in header (for now)-->
        <!--<form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>-->
      </div><!-- .collapse .navbar-collapse -->
      <div class="w-25 d-none d-lg-block">
        
      </div>
    </nav><!-- #header-nav -->
  </header>

  {% block content %} {% endblock content %}

    <footer class="panel-footer footer">
      <div class="container">
        <div class="row">
          <section id="hours" class="col-md-4 col-sm-12">
            Mon - Thurs: 8:00am-6:30pm<br>
            Fri: 8:00am-2:00pm<br>
            Sat & Sun: closed<br>
            <hr class="d-block d-md-none d-lg-none d-xl-none">
          </section>
          <section id="address" class="col-md-4 col-sm-12">
            7235 W 162nd Ter<br>
            Stilwell, KS 66085<br>
            <hr class="d-block d-md-none d-lg-none d-xl-none">
          </section>
          <section id="contact-info" class="col-md-4 col-sm-12">
            <a href="tel: 913-257-5808">
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-telephone-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M2.267.98a1.636 1.636 0 0 1 2.448.152l1.681 2.162c.309.396.418.913.296 1.4l-.513 2.053a.636.636 0 0 0 .167.604L8.65 9.654a.636.636 0 0 0 .604.167l2.052-.513a1.636 1.636 0 0 1 1.401.296l2.162 1.681c.777.604.849 1.753.153 2.448l-.97.97c-.693.693-1.73.998-2.697.658a17.47 17.47 0 0 1-6.571-4.144A17.47 17.47 0 0 1 .639 4.646c-.34-.967-.035-2.004.658-2.698l.97-.969z"/>
              </svg>&nbsp; 913-257-5808<br>
            </a>
              <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-printer-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M5 1a2 2 0 0 0-2 2v1h10V3a2 2 0 0 0-2-2H5z"/>
                <path fill-rule="evenodd" d="M11 9H5a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1z"/>
                <path fill-rule="evenodd" d="M0 7a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2h-1v-2a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v2H2a2 2 0 0 1-2-2V7zm2.5 1a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"/>
              </svg> 
              &nbsp; 844-270-5788<br>
              <a href="mailto: info@pediatricconnectionsot.com">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-envelope-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
                </svg>
                &nbsp;info@pediatricconnectionsot.com<br></a> 
            <hr class="d-block d-md-none d-lg-none d-xl-none">
          </section>
        </div>
        <div id="social-media-images" class="text-center">
          <a href="https://www.facebook.com/pediatricconnections" target="_blank"><img src="{% static 'pedcon_main/images/facebook_icon.png' %}"></a> 
          <a href="https://www.pinterest.com/pedconnectionso/" target="_blank"><img src="{% static 'pedcon_main/images/pinterest_icon.png' %}"></a> 
          <a href="https://www.instagram.com/pediatricconnectionsot/" target="_blank"><img src="{% static 'pedcon_main/images/instagram_icon.png' %}"></a> 
          <a href="https://www.youtube.com/channel/UC3h0muLW7GSxBr_DdtaLOCg" target="_blank"><img src="{% static 'pedcon_main/images/youtube_icon.png' %}"></a>  
        </div>
        <div class="row justify-content-around w-25">
          <div id="privacy-policy" class="col-6">
            <a href="{% url 'pedcon_main:clinic_policy' %}">Clinic Policy</a>
          </div>
          <div id="privacy-policy" class="col-6">
            <a href="{% url 'pedcon_main:privacy_policy' %}">Privacy Policy</a>
          </div>
        </div>
      </div>
    </footer>

  <script src="{% static 'pedcon_main/js/jquery-3.5.1.min.js' %}"></script>
  <script src="{% static 'pedcon_main/js/script.js' %}"></script>
  <script src="{% static 'pedcon_main/js/bootstrap.min.js' %}"></script> 

</body>
</html>