<head>
  <style>
    @page {
      size: a4 portrait;
      @frame header_frame {
        -pdf-frame-content: header_content;
        left: 50pt; width: 500pt; top: 50pt; height: 60pt;
        -pdf-frame-content: logo_content;
        left: 235pt; width: 200pt; top: 20pt; height: 60pt;
      }
      @frame content_frame {
        left: 50pt; width: 500pt; top: 90pt; height: 632pt;
      }
      @frame footer_frame {
        -pdf-frame-content: footer_content;
        left: 50pt; width: 512pt; top: 772pt; height: 30pt;
      }
    }
    
    h1 {
      color: #5ebf9c;
      text-align: center;
      font-size: 1.8em;
    }
    .cancellationFormHeadings {
      text-align: center;
    }
    mark {
      background-color: yellow;
    }
    table {
      font-size: .9em;
    }
    p {
      font-size: .9em;
    }
    .signature {
      zoom: 30%;
    }

  </style>
</head>
<body>

  <img class="formsLogo d-flex mx-auto" id="logo_content" src="pedcon_main/static/pedcon_main/images/logo_small.png">

  <!-- Content for Static Frame 'header_frame' -->
  <div id="header_content">
    <h1>{{ form_title }}</h1>
  </div>


  <!-- Content for Static Frame 'footer_frame' -->
  <div id="footer_content">Page <pdf:pagenumber>
      of <pdf:pagecount>
      | Form submitted on
      {% load tz %}
      {% timezone "America/Chicago" %}
       {{ object.created_at|default_if_none:"" }} CT from {{ object.ip_address|default_if_none:"" }} ({{ object.country|default_if_none:"" }}) on {{ object.device_info|default_if_none:"" }}
      {% endtimezone %}
      <br>Entry ID: {{ object.pk }}
       
  </div>

  <section class="form-row justify-content-center cancellationFormHeadings">
    <p>
      <strong>Commercial/Self Pay</strong><br>
      <strong id="textHighlight"><mark>Missed or canceled appointments will be charged at $50 per session</mark></strong>
    </p>
  </section>
  <div class="form-row justify-content-center cancellationFormHeadings">
    <p>
      <small>
        ----- This fee is not billable to insurance companies -----
      </small>
    </p>
  </div>

  <section>
    <p>
      You will be granted 1 (one), courtesy missed appointment per 3 months at no charge. This occurs on a quarterly basis with the following schedule- January/February/March, April/May/June, July/August/September, and October/November/December. These cannot be carried over from one quarter to the next. There will be no special consideration for vacations, summer camps, etc. These courtesy "missed" appointments are to account for unforeseen events and illnesses. Any further missed appointments REGARDLESS of reason will result in the $50 fee. Please manage your calendar around your committed OT appointments.<br><br>

      If you would like your fee to be waived, you must reschedule an appointment that is prior to your next regularly scheduled appointment. If you are on our schedule more than 1 time per week we will allow you to make your appointment up over a 2-week period. Rescheduled appointments are only available if we have a slots open. We do NOT guarantee to have make-up slots as openings are dependent on our current caseload. If we do not have an available slot or you choose NOT to reschedule, you will be charged the $50 fee.<br><br>

      This policy will be strictly enforced and you will be billed for the missed/canceled appointment on your monthly statement.
    </p>
  </section>

  <section class="form-row justify-content-center cancellationFormHeadings">
    <p>
      <strong>Medicaid</strong><br>
      <strong id="textHighlight"><mark>Missed or canceled appointments will result in dismissal or placement back on the waiting list</mark></strong>
    </p>
  </section>
  <div class="form-row justify-content-center cancellationFormHeadings">
    <p>
      <small>
        ----- We can NOT bill your insurance for missed appointments -----
      </small>
    </p>
  </div>
  <section>
    <p>
      You will be granted 1 (one), courtesy missed appointment per 3 months with no penalty. This occurs on a quarterly basis with the following schedule- January/February/March, April/May/June, July/August/September, and October/November/December. These cannot be carried over from one quarter to the next. There will be no special consideration for vacations, summer camps, etc. These courtesy "missed" appointments are to account for unforeseen events and illnesses.<br><br>

      As part of our contract with Medicaid, we can NOT bill you for missed appointments. Therefore, any missed appointments that are not made up or that cannot be made up will result in placement back on our waiting list. Due to our high waitlist numbers, we cannot make any exceptions to this policy.<br><br>

      If you would like your absence to be waived, you must reschedule an appointment that is prior to your next regularly scheduled appointment. Rescheduled appointments are only available if we have a slot open. If we do not have an available slot or you choose NOT to reschedule, the absence will count toward your 1 missed appointment per quarter. If you have already used this courtesy "missed" appointment you will be placed on our waitlist. PLEASE USE YOUR "FREEBIE" IN EMERGENCY SITUATIONS ONLY TO PREVENT LOSING YOUR SPOT.<br><br>

      This policy will be strictly enforced.<br><br>

      You will not be charged in the following situations:
      <ul>
        <li>
          Cancelled appointment due to Pediatric Connections fault. i.e. sick therapist, training that requires us to close Pediatric Connections, etc.
        </li>
        <li>
          Inclement weather: Pediatric Connections will determine clinic closing based on safety of travel.  All clients will be notified if your appointment is cancelled for that day.
        </li>
        <li>
          Pediatric Connections recognized Holiday Schedules: hours/days will be posted.
        </li>
      </ul>
    </p>
  </section>
  <section>
    <p>
      Please sign acknowledging receipt of this policy. Your signature is not required for implementation of this policy. We do, however, want you well informed of our policy. This policy may be amended/updated at any time. Pediatric Connections will post the most current Missed Appointment/Cancellation Policy in our office.
    </p>
  </section>

  <!-- HTML Content -->
  <table>
      <tr>
        <td>Client Name: {{ object.client_first_name|default_if_none:"" }} {{ object.client_last_name|default_if_none:"" }}</td>
      </tr>
      <tr>
        <td>Parent Name: {{ object.parent_first_name|default_if_none:"" }} {{ object.parent_last_name|default_if_none:"" }}</td>
      </tr>
  </table><br>

  <strong>Signature:</strong>
  <div class="signature">
    {% if not object.sig_img  %}
      <p>No signature image available</p>
    {% else %}
      <img class="d-flex mx-auto" src="{{ object.sig_img.url }}">
    {% endif %}
  </div><br>




</body>