<head>
  <style>
    @page {
      size: a4 portrait;
      @frame header_frame {
        -pdf-frame-content: header_content;
        left: 50pt; width: 500pt; top: 50pt; height: 60pt;
        -pdf-frame-content: logo_content;
        left: 235pt; width: 200pt; top: 20pt; height: 60pt;
      }
      @frame content_frame {
        left: 50pt; width: 500pt; top: 90pt; height: 632pt;
      }
      @frame footer_frame {
        -pdf-frame-content: footer_content;
        left: 50pt; width: 512pt; top: 772pt; height: 30pt;
      }
    }
    
    h1 {
      color: #5ebf9c;
      text-align: center;
      font-size: 1.8em;
    }

    h3 {
      text-align: left;
      font-size: 1.3em;
    }
    table {
      font-size: 1.2em;
    }
    p {
      font-size: 1.2em;
    }

  </style>
</head>
<body>

  <img class="formsLogo d-flex mx-auto" id="logo_content" src="pedcon_main/static/pedcon_main/images/logo_small.png">

  <!-- Content for Static Frame 'header_frame' -->
  <div id="header_content">
    <h1>{{ form_title }}</h1>
  </div>


  <!-- Content for Static Frame 'footer_frame' -->
  <div id="footer_content">Page <pdf:pagenumber>
      of <pdf:pagecount>
      | Form submitted on
      {% load tz %}
      {% timezone "America/Chicago" %}
       {{ object.created_at|default_if_none:"" }} CT from {{ object.ip_address|default_if_none:"" }} ({{ object.country|default_if_none:"" }}) on {{ object.device_info|default_if_none:"" }}
      {% endtimezone %}
      <br>Entry ID: {{ object.pk }}
       
  </div>

  <h3>Client/Parent Information</h3>

  <!-- HTML Content -->
  <table>
      <tr>
        <td>Client Name: {{ object.client_first_name|default_if_none:"" }} {{ object.client_last_name|default_if_none:"" }}</td>
        <td>{{ object.address|default_if_none:"" }}</td>
        <td>Prim. Phone: {{ object.prim_phone|default_if_none:"" }}</td>
        <td>Physician: {{ object.physician|default_if_none:"" }}</td>
      </tr>
      <tr>
        <td>DOB: {{ object.dob|default_if_none:"" }}</td>
        <td>{{ object.address_2|default_if_none:"" }}</td>
        <td>Prim. Phone Type: {{object.prim_phone_type|default_if_none:""}}</td>
        <td>Phys Fax: {{ object.physician_fax|default_if_none:"" }}</td>
      </tr>
      <tr>
        <td>Parent Name: {{ object.parent_first_name|default_if_none:"" }} {{ object.parent_last_name|default_if_none:"" }}</td>
        <td>{{ object.city|default_if_none:"" }}, {{ object.state|default_if_none:"" }}</td>
        <td>Sec. Phone: {{object.sec_phone|default_if_none:""}}</td>
        <td>Pt Dx: {{ object.pt_dx|default_if_none:"" }}</td>
        
      </tr>
      <tr>
        <td>Email: {{ object.email|default_if_none:"" }}</td>
        <td>{{ object.zip_code|default_if_none:"" }}</td>
        <td>Sec. Phone Type: {{object.sec_phone_type|default_if_none:""}}</td>
        <td>IEP: {{ object.iep|default_if_none:"" }}</td>
      </tr>
  </table><br>

  <p>How did you hear about us?: {{ object.ref_source|default_if_none:"" }}</p>
  <hr>

  <h3>Responsible Financial Party</h3>
  <!-- HTML Content -->
  <table>
      <tr>
        <td>Name: {{ object.rfp_first_name|default_if_none:"" }} {{ object.rfp_last_name|default_if_none:"" }}</td>
        <td>{{ object.rfp_address|default_if_none:"" }}</td>
        <td>Prim. Phone: {{object.rfp_prim_phone|default_if_none:""}}</td>
        
      </tr>
      <tr>
        <td>Employer: {{ object.rfp_employer|default_if_none:"" }}</td>
        <td>{{ object.rfp_address_2|default_if_none:"" }}</td>
        <td>Prim. Phone Type: {{object.rfp_prim_phone_type|default_if_none:""}}</td>
      </tr>
      <tr>
        <td></td>
        <td>{{ object.rfp_city|default_if_none:"" }}, {{ object.rfp_state|default_if_none:"" }}</td>
        <td>Sec. Phone: {{object.rfp_sec_phone|default_if_none:""}}</td>
        
      </tr>
      <tr>
        <td></td>
        <td>{{ object.rfp_zip_code|default_if_none:"" }}</td>
        <td>Sec. Phone Type: {{object.rfp_sec_phone_type|default_if_none:""}}</td>
      </tr>
  </table>
  <hr>

  <h3>Insurance</h3>
  <!-- HTML Content -->
  <table>
      <tr>
        <td>Primary Insurance: {{ object.prim_insurance|default_if_none:"" }}</td>
        <td>Secondary Insurance: {{ object.sec_insurance|default_if_none:"" }}</td>
      </tr>
      <tr>
        <td>ID#: {{object.ins_id|default_if_none:""}}</td>
        <td>ID#: {{object.sec_ins_id|default_if_none:""}}</td>
      </tr>
      <tr>
        <td>Group#: {{object.ins_group_id|default_if_none:""}}</td>
        <td>Group#: {{object.sec_ins_group_id|default_if_none:""}}</td>
      </tr>
      <tr>
        <td>Policy Holder Name: {{ object.pol_hold_first_name|default_if_none:"" }} {{ object.pol_hold_last_name|default_if_none:"" }}</td>
        <td>Policy Holder Name: {{ object.sec_pol_hold_first_name|default_if_none:"" }} {{ object.sec_pol_hold_last_name|default_if_none:"" }}</td>
      </tr>
      <tr>
        <td>Policy Holder DOB: {{object.pol_hold_dob|default_if_none:""}}</td>
        <td>Policy Holder DOB: {{object.sec_pol_hold_dob|default_if_none:""}}</td>
      </tr>
      <tr>
        <td>Policy Holder Employer: {{ object.pol_hold_employer|default_if_none:""}} </td>
        <td>Policy Holder Employer: {{ object.sec_pol_hold_employer|default_if_none:""}} </td>
      </tr>
  </table>
  <hr>



</body>