{% extends "pedcon_main/base.html" %}
{% load static %}

{% block content %}

  <!--begin main content-->
  <div class="pageHeading">
    <h1>Hi! My name is Danielle.</h1>
  </div>

  <section class="about">
    <div class="aboutPicture">
      <img src="{% static 'pedcon_main/images/danielle_allison.jpg' %}">
    </div>
    <div class="aboutPages">
      <div>
        <h3>A little about me...</h3>
        <p>
          <dl class="aboutList">
            <dt>
              If you could travel anywhere, where would you like to go?
            </dt>
            <dd>- If there is sunshine and a beach, I will be there.. just say when!</dd>
            <dt>
              What is the best advice you've ever been given?
            </dt>
            <dd>- Be kind and extend grace and love to everyone, as you never know what someone may be going through. 
                John 13:34-35 “A new commandment I give to you, that you love one another; as I have loved you, that you also love one another. By this all will know that you are my disciples, if you have love for one another”.</dd>
            <dt>
              What do you do for fun?
            </dt>
            <dd>- I enjoy spending quality time with family and friends in fellowship. This includes sharing a meal together, playing card and board games, shopping, sitting around a bonfire, and attending the young adults group at my church.</dd>
            <dt>
              What is your favorite movie or book? 
            </dt>
            <dd>- I truly enjoy most Rom-Coms, but two of my all time favorites would be The Proposal and 27 Dresses. I am also a sucker for Hallmark movies during the winter.</dd>
            <dt>
              Advice for clients:
            </dt>
            <dd>- “Success is not final, failure is not fatal, it is the courage to continue that counts” - Winston Churchill. The Lord has a plan for you, don't give up!</dd>
          </dl>
        </p>
      </div>
    </div>
  </section>

  <section class="aboutOtherInfo">
    <a href="{% url 'pedcon_main:about_us' %}"><h3>Return to "About Us"</h3></a>
  </section>

{% endblock content %}

  