{% extends "pedcon_main/base.html" %}
{% load static %}


{% block content %}
<div class="alert alert-primary m-0 text-center" role="alert">
  Pediatric Connections presents: Seeing Behavior Through a Different Lens. Register <a href="https://pediatricconnections.ticketleap.com/seeing-behavior-through-a-different-lens/" target="_blank">here</a>
</div>

  <section class="vidSection">
    <h1 class="homeTitle">Welcome to Pediatric Connections</h1>
    <div class="video-container">
      <div class="color-overlay"></div>
      <video class="homePageVideo"  autoplay loop muted>
        <source src="{% static 'pedcon_main/images/promo_vid.mp4' %}" type="video/mp4">
      </video>
    </div>
    <div class="image-container"> 
      <img class="buildingImg d-lg-none" src="{% static 'pedcon_main/images/building.jpg' %}">
    </div>
  </section>

  <section class="wwd fadeIn">
    <div class="wwd_text">
      <h3>What We Do</h3>
      <p>We have a staff of highly skilled Occupational Therapists and Speech Language Pathologists. We specialize in helping children succeed in activities of daily living in the home, school and community. Our OTs are uniquely trained to help children detect, interpret, and regulate sensory information which, in turn, allows for appropriate motor and behavioral responses. Our SLPs are exceptionally skilled with extensive experience with all ages and ability levels to guide our clients toward improved communication skills.</p>
    </div> 
  </section>

  <section class="identify fadeIn">
    <div class="identify_img">
      <img class="overlay-image" id="oi_one" src="{% static 'pedcon_main/images/check_box.png' %}">
    </div>
    <div class="identify_text">
      <h3>Identify</h3>
      <p>We will identify foundational problems that are effecting daily life.</p>
    </div>  
  </section>

  <section class="lightbulb fadeIn">
    <div class="lightbulb_text">
      <h3>Understand</h3>
      <p>We will help you understand how problems impact all aspects of learning, social skills and behavior.</p>
    </div>
    <div class="lightbulb_img">
      <img class="overlay-image" id="oi_two" src="{% static 'pedcon_main/images/lightbulb.png' %}">
    </div>  
  </section>

  <section class="empower fadeIn">
    <div class="empower_img">
      <img class="overlay-image" id="oi_three" src="{% static 'pedcon_main/images/muscle.png' %}">
    </div>
    <div class="empower_text">
      <h3>Empower</h3>
      <p>We will empower you with resources, tools, and strategies for success.</p>
    </div> 
  </section>

  <section class="d-flex justify-content-center align-items-center w-100 h-50 mx-auto bg-white">
    <div class="text-center contactText">
      <h4>Contact us for appointment availability!</h4>
      <a class="justify-content-center btn btn-lg btn-dark success_btn m-2" href="{% url 'pedcon_main:contact' %}">Contact Form</a>
    </div> 
  </section>


<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/ScrollTrigger.min.js"></script>
<script src="{% static 'pedcon_main/js/animationApp.js' %}"></script>

{% endblock content %}

</body>
</html>
