{% extends "pedcon_main/base.html" %}
{% load static %}

{% block content %}

  <!--begin main content-->
  <div class="pageHeading">
    <h1>Hi! My name is Jen.</h1>
  </div>

  <section class="about">
    <div class="aboutPicture">
      <img src="{% static 'pedcon_main/images/jen_shrum_portrait.jpg' %}">
    </div>
    <div class="aboutPages">
      <div>
        <h3>A little about me...</h3>
        <p>
          <dl class="aboutList">
            <dt>
              If you could travel anywhere, where would you like to go?
            </dt>
            <dd>- Thailand</dd>
            <dt>
              What is the best advice you've ever been given?
            </dt>
            <dd>- "Seek first His kingdom and His righteousness, and all these things will be given to you as well. Therefore do not worry about tomorrow, for tomorrow will worry about itself. Each day has enough trouble of its own." Matthew 6:33-34</dd>
            <dt>
              What do you do for fun?
            </dt>
            <dd>- I love spending time with others. To me it doesn't really matter what we are doing, just that we are having fun and building relationships!</dd>
            <dt>
              What is your favorite movie or book? 
            </dt>
            <dd>- Moana!</dd>
            <dt>
              What is the best advice you can give your clients? 
            </dt>
            <dd>- You are loved. Your life has meaning. You are incredibly valuable!</dd>
          </dl>
        </p>
      </div>
    </div>
  </section>

  <section class="aboutOtherInfo">
    <a href="{% url 'pedcon_main:about_us' %}"><h3>Return to "About Us"</h3></a>
  </section>

{% endblock content %}

  