{% extends "pedcon_main/base.html" %}
{% load static %}

{% block content %}

  <!--begin main content-->
  <div class="pageHeading">
    <h1>Hi! My name is Kelly.</h1>
  </div>

  <section class="about">
    <div class="aboutPicture">
      <img src="{% static 'pedcon_main/images/kelly_portrait.jpg' %}">
    </div>
    <div class="aboutPages">
      <div>
        <h3>A little about me...</h3>
        <p>
          <dl class="aboutList">
            <dt>
              If you could travel anywhere, where would you like to go?
            </dt>
            <dd>- I would love to explore all of Europe! </dd>
            <dt>
              What is the best advice you've ever been given?
            </dt>
            <dd>- Don't sweat the small stuff. Which can be hard for someone that is type A.</dd>
            <dt>
              What do you do for fun?
            </dt>
            <dd>-  I really love to workout; I have rediscovered my love of crafts; attending live concerts; and hanging out with family, friends and our 3 pets.</dd>
            <dt>
              What is your favorite movie or book? 
            </dt>
            <dd>-  The original movie ‘Arthur’, with Dudley Moore.</dd>
            <dt>
              What is the best advice you can give your clients? 
            </dt>
            <dd>-  To love them unconditionally, and show them through your actions.</dd>
          </dl>
        </p>
      </div>
    </div>
  </section>

  <section class="aboutOtherInfo">
    <a href="{% url 'pedcon_main:about_us' %}"><h3>Return to "About Us"</h3></a>
  </section>

{% endblock content %}

  