{% extends "pedcon_main/base.html" %}
{% load static %}

{% block content %}

  <!--begin main content-->
  <div class="pageHeading">
    <h1>Hi! My name is Lindsey.</h1>
  </div>

  <section class="about">
    <div class="aboutPicture">
      <img src="{% static 'pedcon_main/images/lindsey_phillips.jpg' %}">
    </div>
    <div class="aboutPages">
      <div>
        <h3>A little about me...</h3>
        <p>
          <dl class="aboutList">
            <dt>
              If you could travel anywhere, where would you like to go?
            </dt>
            <dd>- I'm a huge fan of mountainous landscapes so any Nordic country or Ireland.</dd>
            <dt>
              What is the best advice you've ever been given?
            </dt>
            <dd>- Always trust your gut and intuition. They never fail you.</dd>
            <dt>
              What do you do for fun?
            </dt>
            <dd>- I love anything involving horses, painting, coloring, watching TV shows/ movies, or playing any type of game with family and friends. I enjoy planning parties and events, especially themed birthdays for my son. I also consider myself a lifelong student and enjoy learning new things about trauma, feeding, and therapy!</dd>
            <dt>
              What is your favorite movie or book? 
            </dt>
            <dd>- I love all the classic Christmas movies, any action movie involving Liam Neeson or Denzel Washington, and most crime/psychological dramas. I enjoy most nonfiction books about the brain, trauma, and/or healing, such as The Body Keeps the Score and The Whole Brain Child.</dd>
            <dt>
              Advice for clients:
            </dt>
            <dd>- "Remember, popcorn is prepared in the same pot, in the same heat, in the same oil, but the kernels do not pop at the same time. Don't compare your child to other children, his/her time to pop is coming." - Author unknown</dd>
          </dl>
        </p>
      </div>
    </div>
  </section>

  <section class="aboutOtherInfo">
    <a href="{% url 'pedcon_main:about_us' %}"><h3>Return to "About Us"</h3></a>
  </section>

{% endblock content %}

  