{% extends "pedcon_main/base.html" %}
{% load static %}

{% block content %}

  <!--begin main content-->
  <div class="pageHeading">
    <h1>Hi! My name is Lisa.</h1>
  </div>

  <section class="about">
    <div class="aboutPicture">
      <img src="{% static 'pedcon_main/images/lisa_bergeson_portrait.jpg' %}">
    </div>
    <div class="aboutPages">
      <div>
        <h3>A little about me...</h3>
        <p>
          <dl class="aboutList">
            <dt>
              If you could travel anywhere, where would you like to go?
            </dt>
            <dd>- I would love to be able to travel to hit all the National parks throughout American with my family- maybe even an RV trip if I wasn't driving.   There is such a diverse landscape here in our proverbially backyard which I don't feel like I have even begun to explore.  The kids got sleeping bags and mats for their birthdays this year and after things are opened up and travel is safer I would love to be able to have an epic American adventure from sea to shining sea.</dd>
            <dt>
              What is the best advice you've ever been given?
            </dt>
            <dd>- My mom always spoke to me growing up about fostering balance in your life. This is such a great life lesson and skill to strive for between all the daily demands of work, family and home life.</dd>
            <dt>
              What do you do for fun?
            </dt>
            <dd>- I am an avid walker and love to coax my kids into joining me so I can chat them up and check in with them while on the move.  I have found this is a great time to be active and also have individual time with each of my three kiddos.  I also consider myself an emerging gardener.  I love to get dirt under my fingernails, gloves just don't have the same feel, and see the fruits of a physically demanding day outside.  My goal is to have a English cottage style perennial garden and each year I try to split what I have and look for local finds to expand my beds with around the yard.</dd>
            <dt>
              What is your favorite movie or book? 
            </dt>
            <dd>- My favorite books of all time are the Harry Potter series.  I loved reading them in college when they first came out and I remember having a hard time putting them down and being captivated by the characters and storyline.  Then as a parent I got to experience them through my children as we enjoyed them as a family at night before bedtime.  They love them and reference them with the same fondness as I do.</dd>
            <dt>
              What is the best advice you can give your clients? 
            </dt>
            <dd>- Celebrate each success and praise small victories as you work towards a larger goal.</dd>
          </dl>
        </p>
      </div>
    </div>
  </section>

  <section class="aboutOtherInfo">
    <a href="{% url 'pedcon_main:about_us' %}"><h3>Return to "About Us"</h3></a>
  </section>

{% endblock content %}

  