{% extends "pedcon_main/base.html" %}
{% load static %}

{% block content %}

  <!--Page Heading-->
  <div class="pageHeading">
    <h1>Local Professionals</h1>
  </div>

  <!--Main Content-->
  <section class="LHRContent">
    <div class="row m-0">
      <div class="itemContent col-md-6">
        <span><a href="https://www.newleafcounseling.org" target="_blank">New Leaf Counseling</a></span>
        <div class="">
          <img src="{% static 'pedcon_main/images/new_leaf.png' %}">
        </div>
        <p>
          New Leaf Counseling is a collaborative group of Christian counselors devoted to the reconciliation of relationships and the healing process of individuals. We use a multi-faceted approach to treatment by focusing on our client's specific needs through appropriate assessment, meaningful relationship-building techniques, and supportive resources... all for the sake of the client's growth.<br><br> 

          Our desire is to come alongside each of our clients, and to provide them with the tools and skills necessary for them to achieve the goals that we develop together in the counseling process. As an agency, we strive to treat the whole person by addressing more than just mental health, but also the emotional health, relational health, spiritual health, physical health, and even financial health of our clients.
        </p>
      </div>
      <div class="itemContent col-md-6">
        <span><a href="https://www.mindfulchildaerialyoga.com/" target="_blank">Mindful Child Aerial Yoga</a></span>
        <div class="">
          <img src="{% static 'pedcon_main/images/mindful_child_yoga.jpg' %}">
        </div>
        <p>
          Mindful Child Aerial Yoga is a new complementary and alternative medical practice committed to helping parents and children by providing holistic services. Through movement and nutrition-based programs, we empower children of all abilities to regulate their emotions.
        </p>
      </div>
      <div class="itemContent col-md-6">
        <span><a href="https://www.creatingconnectionkc.com/" target="_blank">Creating Connection KC</a></span>
        <div class="">
          <img src="{% static 'pedcon_main/images/heidi.jpg' %}">
        </div>
        <p>
          I feel that it is within healthy relationships that true healing can be found and prefer to work with children along with their caregivers.  When working with families and children, I use a very playful and engaging approach to help facilitate change and healing.  My techniques are largely based off of emotion focused and attachment based theories. I have received training in family play therapy, attachment play therapy, Theraplay, and EMDR.  In addition, I have been trained as a TBRI (Trust Based Relational Intervention) caregiver and actively utilize this parenting paradigm in my own home.
        </p>
        <p>
          Although, I work with families with children of all ages, I am passionate about working with younger children and those newly home.  I feel I do my best work with infants, toddlers, pre-schoolers, and school-aged children.  I also enjoy the challenge of working with children that have endured pre-verbal trauma.
        </p>
      </div>
      <div class="itemContent col-md-6">
        <span><a href="https://www.attachmentandtraumatherapy.com/" target="_blank">Attachment & Trauma Therapy</a></span>
        <div class="">
          <img src="{% static 'pedcon_main/images/attachment.png' %}">
        </div>
        <p>
          The team at Attachment and Trauma Therapy provide a warm, positive and family-oriented style, allowing children, teens, and families a safe place to work through their challenges. Our areas of focus include adoption, attachment, anxiety, attention deficit hyperactivity disorder (ADHD), autism spectrum disorder (ASD), depression, sensory processing disorder (SPD), post traumatic stress disorder (PTSD), selective mutism, and trauma.
        </p>
      </div>
    </div>
  </section>

{% endblock content %}