{% extends "pedcon_main/base_form.html" %}
{% load static %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}


{% block content%}
<!-- Loading animation -->
<div class="loaderDiv">
  {% include 'pedcon_main/loader.html'%}
  <h5 class="d-flex mx-auto loading_msg">Processing Form
    <span></span>
    <span></span>
    <span></span>
  </h5>
</div>

<!--Practice Info form-->
<form  action="" method="post" class="PracticeForm form" enctype="multipart/form-data" novalidate>
  <div>
    <img class="formsLogo d-flex mx-auto" src="{% static 'pedcon_main/images/logo_small.png' %}">
  </div>
  <div>
    <h3>Practice Form</h3>
  </div>
    {% csrf_token %}

    {% for field in form.visible_fields %}

      {% if field.name == "client_first_name" %}
        <div class="form-row">
          <div class="form-group col-md-6"> 
            {{ block.super }}
          </div>
      {% elif field.name == "client_last_name" %}
          <div class="form-group col-md-6"> 
            {{ block.super }}
          </div>
        </div>
      {% endif %}

      {% if field.name == "date" %}
        <div class="form-row">
          <div class="form-group col-md-4"> 
            {{ block.super }}
          </div>
        </div>
      {% endif %}

      {% if field.name == "text" %}
        <div class="form-row">
          <div class="form-group col-md-12"> 
            {{ block.super }}
          </div>
        </div>
      {% endif %}  

      {% if field.name == "options" %}

        {{ field.label_tag }}
        <div class="form-row ">
          {% for checkbox in form.options %}
            <div class="form-group col-md-6 m2m">
              <div>
                <label>{{ checkbox.tag }} {{ checkbox.choice_label }}</label>
              </div>
            </div>
          {% endfor %}

          {% if field.errors %}
            <small>{{ form.options.errors }}</small>

          {% endif %}

        </div>          
      {% endif %}

      {% if field.name == "captcha" %}
        {{ form.captcha }}
      {% endif %}  

    {% endfor %}

    {% for field in form.hidden_fields %}

    {% if field.name == "sig_data_URL" %}
      <div class="form-row">
        <div class="form-group col-md-12"> 
          {{ block.super }}
        </div>
      </div>
    {% endif %}

    {% endfor %}

    <label class="required">Signature</label>
    <div id="signature-pad" class="signature-pad">
      <div class="signature-pad--body">
        <canvas id="sigImg"></canvas>
      </div><br>
      <div class="signature-pad--footer">
        <div class="signature-pad--actions">
          <div>
            <button type="button" class="btn btn-dark clear" data-action="clear">Clear Signature</button>
            <button type="button" class="btn btn-dark undo" data-action="undo">Undo</button>
            <button type="button" class="btn btn-dark save" name="savePNG" data-action="save-png" hidden>Save PNG</button>
          </div>
        </div>
      </div>
    </div><br> 

    <button type="submit" class="btn btn-dark" value="Submit">Submit</button>
    
</form>

<script src="{% static 'pedcon_main/js/jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'pedcon_main/js/signature_pad.umd.js' %}"></script>
<script src="{% static 'pedcon_main/js/app.js' %}"></script>

{% endblock content %}