{% extends "pedcon_main/base.html" %}
{% load static %}

{% block content %}

  <div class="pageHeading">
    <h1>Recommended Products</h1>
  </div>

  <!--Main Content-->
  <section class="LHRContent">
    <div class="row m-0">
      <div class="itemContent col-md-6">
        <span><a href="https://yogibo.com/" target="_blank">Yogibo</a></span>
        <div class="">
          <img src="{% static 'pedcon_main/images/yogibo.jpg' %}">
        </div>
        <p>
          Yogibos are used in a variety of ways as a sensory product by parents and therapists. Our bean bags provide exceptional proprioceptive sensory input, promoting body awareness and helping to organize the brain for focus and attention. They are especially effective when used for snuggling, pushing, pulling, crashing, or jumping into to provide deep pressure input. Yogibos also serve as an excellent compression tool, conforming to your body and providing calming, uniform pressure. We frequently hear that our customers particularly enjoy how the Yogibo encompasses them – and they’re a lot more comfortable than many of the alternatives.
        </p>
      </div>
      <div class="itemContent col-md-6">
        <span><a href="https://sensoryprocessing101.com/" target="_blank">Sensory Processing 101</a></span>
        <div class="">
          <img src="{% static 'pedcon_main/images/sensory_book.jpg' %}">
        </div>
        <p>
          Whether you are a parent, educator, caregiver, or therapist, this easy-to-read guide is your starting point to gain a better understanding of sensory processing and the body’s sensory systems. You may have heard of Sensory Processing Disorder, but this book is designed to help all children - not just those with a sensory disorder. The truth is that supporting healthy sensory processing is an important part of promoting overall health in every child.
        </p>
        <a href="https://www.amazon.com/dp/0692518363?_encoding=UTF8&camp=15041&creative=373501&linkCode=as3&tag=pedia02-20" target="_blank"> Amazon Link</a>
      </div>
      <div class="itemContent col-md-6">
        <span>Circular Balancing Board</span>
        <div class="">
          <img src="{% static 'pedcon_main/images/balance_board.jpg' %}">
        </div>
        <p>
          Beginner board. Unique base allows for many safe and fun activities while developing balance and coordination. Weight: limit: 132 lbs. Ages: 3 yrs and up. Includes: 1 board and 2 balls.
        </p>
      </div>
      <div class="itemContent col-md-6">
        <span><a href="https://www.moluk.com/bilibo.php" target="_blank">Bilibo</a></span>
        <div class="">
          <img src="{% static 'pedcon_main/images/bilibo.jpg' %}">
        </div>
        <p>
          Loaded with fun, Kid O Bilibo combines a rocking chair, a spinning top, a cradle and a tunnel in one single toy! With multiple playtime activities, this toy is suitable for indoor as well as outdoor fun.
        </p>
      </div>
      <div class="itemContent col-md-6">
        <span>Crayola 3-in-1 Magnetic Wood Easel</span>
        <div class="">
          <img src="{% static 'pedcon_main/images/easel.jpg' %}">
        </div>
        <p>
          With a dry erase board on one side and a chalkboard on the other, this 3-in-1 easel also includes a painting surface for complete design freedom. The Crayola 3-in-1 Magnetic Wood Easel provides both a large work area and a spacious storage tray to encourage creative exploration, but folds up neatly for storage and playroom clean-up.
        </p>
      </div>
      <div class="itemContent col-md-6">
        <span><a href="https://kineticsand.com/" target="_blank">Kinetic Sand</a></span>
        <div class="">
          <img src="{% static 'pedcon_main/images/kinetic_sand.jpg' %}">
        </div>
        <p>
          Kinetic Sand is easy-to-shape sand that molds into simple desktop designs. Playing with Kinetic Sand is a magical and mesmerizing experience, giving a moment of relaxation for both young and old. This remarkable sand moves by itself as you work with it. It continually rearranges itself. Squeeze it, shape it, build something small. Both children and adults relax as they enjoy this unique sand. Kinetic Sand soothes and engages both kids and adults, in schools, at work, in therapy sessions, and at home.<br><br>
          Kinetic sand is 98% pure sand and is naturally gluten-free.
        </p>
      </div>
      <div class="itemContent col-md-6">
        <span><a href="https://www.superlaces.co/" target="_blank">SnapLaces</a></span>
        <div class="">
          <img src="{% static 'pedcon_main/images/snap_laces.jpg' %}">
        </div>
        <p>
          SnapLaces are a performance no-tie lacing system originally designed for elite athletes that have been adapted to help children and adults who have difficulty tying shoes achieve new levels of independence.<br><br>

          Save 20% on your order!<br>
          DISCOUNT CODE: pediaconn20
        </p>
      </div>
    </div>
  </section>

{% endblock content %}