{% extends "pedcon_main/base.html" %}
{% load static %}

{% block content %}
<div class="success_parent">
  <div class="success">
    <h1>Success!</h1><br>
    <p>Your form has been submitted successfully.<br><br>
     A representative of Pediatric Connections will contact you after review of your form. </p>
    <a class="btn btn-dark success_btn m-2" href="{% url 'pedcon_main:forms' %}">Return to Forms</a>
    <a class="btn btn-dark success_btn m-2" href="{% url 'pedcon_main:index' %}">Return to Home</a>
  </div>
</div>



{% endblock content %}