{% extends "pedcon_main/base.html" %}
{% load static %}

{% block content %}

  <!--begin main content-->
  <div class="pageHeading">
    <h1>Hi! My name is Taylor.</h1>
  </div>

  <section class="about">
    <div class="aboutPicture">
      <img src="{% static 'pedcon_main/images/taylor_portrait.jpg' %}">
    </div>
    <div class="aboutPages">
      <div>
        <h3>A little about me...</h3>
        <p>
          <dl class="aboutList">
            <dt>
              If you could travel anywhere, where would you like to go?
            </dt>
            <dd>- Scotland or Ireland</dd>
            <dt>
              What is the best advice you've ever been given?
            </dt>
            <dd>- Find your village. We were created to live in community with one-another - sharing our talents, skills and knowledge. Find people who are working toward a similar goal (maybe albeit from a different perspective) and grow and learn from one another.</dd>
            <dt>
              What do you do for fun?
            </dt>
            <dd>- As a mom of several littles, fun in our household looks like card games and lots of time outside!</dd>
            <dt>
              What is your favorite movie or book? 
            </dt>
            <dd>- The Chronicles of Narnia - especially The Lion, The Witch and The Wardrobe</dd>
            <dt>
              What is the best advice you can give your clients? 
            </dt>
            <dd>- We are always learning, so give yourself grace. Maya Angelou said it best, "Do the best you can until you know better. Then when you know better, do better."</dd>
          </dl>
        </p>
      </div>
    </div>
  </section>

  <section class="aboutOtherInfo">
    <a href="{% url 'pedcon_main:about_us' %}"><h3>Return to "About Us"</h3></a>
  </section>

{% endblock content %}

  