{% extends "pedcon_main/base.html" %}
{% load static %}

{% block content %}


  <!-- Social media icons -->
  <div class="blogContainer row">
    <div class="socialMediaSidebar col-md-1">
      <a href="https://www.facebook.com/pediatricconnections" target="_blank"><img src="{% static 'pedcon_main/images/facebook_icon.png' %}"></a>
      <a href="https://www.pinterest.com/pedconnectionso/" target="_blank"><img src="{% static 'pedcon_main/images/pinterest_icon.png' %}"></a> 
      <a href="https://www.instagram.com/pediatricconnectionsot/" target="_blank"><img src="{% static 'pedcon_main/images/instagram_icon.png' %}"></a> 
      <a href="https://www.youtube.com/channel/UC3h0muLW7GSxBr_DdtaLOCg" target="_blank"><img src="{% static 'pedcon_main/images/youtube_icon.png' %}"></a>
    </div>
    <div class="mainArticle col-md-11">
      <div class="headline">
        <h1>{{ post.title }}</h1>
      </div>
      <div class="tagContainer">
        <a href="{% url 'blog:category' post.slug %}"><h6 class="tag">{{ post.category }}</h6></a>
      </div>
      <div class="blogAuthor">
        <small>By: </small>
        <a href="{% url 'pedcon_main:about_us_deana' %}"><small>{{ post.author.first_name }} {{ post.author.last_name }}</small></a>
      </div>
      <div class="blogDate">
        <small>{{ post.date|date:"F jS, Y" }}</small>

      </div>
      <div class="blogText">
        <div class="blogImg">
          {% if post.post_image %}
          <img src="{{ post.post_image.url }}">
          {% endif %}
        </div>
        <p>{{ post.body|safe }}</p>

      </div>  
    </div> 
  </div>


{% endblock content %}