{% extends "pedcon_main/base.html" %}
{% load static %}

{% block content %}
  <div class="d-flex justify-content-center align-items-center h-75">
    <div class="w-75 mx-auto text-center">
      <h1>500 INTERNAL SERVER ERROR</h1>
      <h3>Sorry, we had some technical problems during your last operation. Please contact us if the problem persists.</h3>
      <a class="btn btn-dark success_btn m-2" href="{% url 'pedcon_main:index' %}">Go to Home Page</a><br><br>
    </div>
  </div>
  
{% endblock content %}